<<<<<<< HEAD
.bcolor {
  background: url("../images/main.jpg") no-repeat center center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

body {
  height: 300vh;
}

.container-fluid{
  height:100px;
}
=======

.container-fluid{
  height: 100px;
 }
>>>>>>> cd7de63 (header)
